/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: left; /* Cambiado a alineación a la izquierda */
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Card Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 8px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-edit {
    background-color: #007bff;
}

.btn-delete {
    background-color: #dc3545;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-add:hover, .btn-edit:hover, .btn-delete:hover {
    opacity: 0.9;
}

/* Estilo para el contenedor del título y el botón */
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

/* Ajuste del formulario de eliminación */
.form-delete {
    display: inline-block;
}

.barras {
    padding-left: 70px;
    display: flex;  /* Usamos flexbox para alinear los elementos horizontalmente */ /* Espacio entre los elementos */
    gap: 20px;  /* Espacio entre los gráficos */
    flex-wrap: wrap;  /* Asegura que los elementos no se desborden */
}

.mapa{
    border-radius: 15px;  /* Borde redondeado */
    overflow: hidden;  /* Asegurarse de que no se vean partes fuera del borde */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}